body {
    background-color: steelblue;
    margin: 0px;
}

h1 {
    color: darkslategray;
    margin-bottom: 0rem;
}

h3 { 
    color: darkslategray;
    margin-block: 0;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
    
.navbar {
    height: 4rem;
    padding: 0 1rem;
    background-color: antiquewhite;
    color: darkcyan;
    border-bottom: solid 0.25rem gray;
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    text-align: right;
}

.navbar a:hover {
    background-color: aquamarine;
}

.navbar-container a {
    text-decoration: none;
    color: darkred;
}

.category-title-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid 0.25rem gray;
}

.btn-submit-link {
    margin-bottom: 0.5rem;
    font-size: small;
    text-align: center;
}

.content-container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 80rem;
    width: 100%;
    padding: 0 1rem 2rem 1rem;
    background-color: whitesmoke;
}

.thread-link {
    background-color: steelblue;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.listview-thread-container {
    margin-bottom: 0.75rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    background-color: beige;
    border: solid 0.25rem lightgray;
    border-radius: 0.25rem;
}

.listview-thread-details {
    font-size: smaller;
}

.app-title {
    font-size: larger;
    font-weight: 600;
    color: darkcyan;
}

.category-link {
    padding: 0.25rem;
    text-decoration: none;
    color: darkcyan;
}

.category-link:hover {
    background-color: bisque;
}

.category-nav-container {
    padding: 0.25rem 1rem;
    max-width: 80rem;
    width: 100%;
    background-color: lightgray;
}

.category-nav-container > span:not(:last-child)::after {
    content: " | ";
}

.thread-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border: solid 0.25rem gray;
    border-radius: 0.25rem;
    background-color: beige;
}

.reply-content {
    margin-left: calc(var(--reply-depth)*2rem + 1rem);
    margin-right: 1rem;
    padding: 1rem;
    border: solid 0.125rem gray;
    border-radius: 0.375rem;
    background-color: floralwhite;
    margin-top: 1rem;
}

.comment-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.btn {
	border: none;
	padding: 0;
	cursor: pointer;
}

.btn:hover {
    filter: saturate(2);
}

.btn:active {
    filter: brightness(80%);
}

.btn-small {
    width: 4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: powderblue;
}

.btn-big {
    width: 6rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: powderblue;
}

a:has(> .btn) {
    text-decoration: none;
    color: black;
}

a:has(> h3) {
    text-decoration: none;
}

a:has(> h3):hover {
    text-decoration: underline;
    color: darkslategray;
}

a:has(> .thread-link):hover {
    filter:brightness(80%)
}

[id^="toggle-comment-form-"] {
    display: none;
}

.comment-form > textarea {
    resize: none;
}

.debug {
    font-size: x-small;
}

.thread-details {
    margin: 0.125rem 0;
    font-size: small;
}