<!DOCTYPE html>
<title>Link-board - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block navbar %}
<nav class="navbar-container">
    <div class="navbar">
        <a href="{{ url_for('index') }}"><div class="app-title">Link Board</div></a>
        <div>
            {% if session.username %}
            <div>
                <div>Logged in as {{ session.username }}</div>
                <a href="{{ url_for('logout') }}">Log out</a>
            </div>
            {% else %}
            <a href="{{ url_for('login') }}">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
<div class="content-container">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>