{% extends "base.html" %}
{% block title %}Create or Edit Category{% endblock %}
{% block content %}
    {% if session.user_role > 0 %}
        {% if category %}
        <div class="category-title-container">
            <a href="{{ url_for('category_page', category=category.name) }}"><h1>{{ category.name }}</h1></a>
        </div>
        <h2>Edit Category</h2>
        <form action="{{ url_for('edit_category', category=category.name) }}" method="POST">
            <p>Category Name:</p>
            <label>
                <input type="text" name="category_name" value="{{ category.name }}" minlength="3" maxlength="64" required/>
            </label>
            <p>Description:</p>
            <label>
                <textarea name="description" rows="5" cols="80">{{ category.description if category.description else '' }}</textarea>
            </label>
            <p>Public?</p>
            <label>
                Yes
                <input type="radio" name="public" value="true" {{ 'checked' if category.is_public }}/>
            </label>
            <br>
            <label>
                No
                <input type="radio" name="public" value="false" {{ 'checked' if not category.is_public }}/>
            </label>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <br>
            <input type="submit" value="Edit Category"/>
        </form>
        {% else %}
        <form action="{{ url_for('new_category') }}" method="POST">
            <p>Category Name:</p>
            <label>
                <input type="text" name="category_name" placeholder="Category Name" minlength="3" maxlength="64" required/>
            </label>
            <p>Description:</p>
            <label>
                <textarea name="description" rows="5" cols="80"></textarea>
            </label>
            <p>Public?</p>
            <label>
                Yes
                <input type="radio" name="public" value="true" checked/>
            </label>
            <br>
            <label>
                No
                <input type="radio" name="public" value="false"/>
            </label>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <br>
            <input type="submit" value="Create Category"/>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}
