{% extends "base.html" %}
{% block title %}Create or Edit Category{% endblock %}
{% from "_macros.html" import render_field %}
{% block content %}
    {% if session.user_role > 0 %}
        {% if category %}
        <div class="category-title-container">
            <a href="{{ url_for('category_page', category=category.name) }}"><h1>{{ category.name }}</h1></a>
        </div>
        <h2>Edit Category</h2>
        <form method="POST" action="" novalidate>
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.description) }}
                {{ render_field(form.is_public) }}
                {{ form.csrf_token }}
                {{ render_field(form.submit) }}
            </dl>
        </form>
    {% else %}
        <form method="POST" action="" novalidate>
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.description) }}
                {{ render_field(form.is_public) }}
                {{ form.csrf_token }}
                {{ render_field(form.submit) }}
            </dl>
        </form>
        <form action="{{ url_for('new_category') }}" method="POST">
            <p>Category Name:</p>
            <label>
                <input type="text" name="category_name" placeholder="Category Name" minlength="3" maxlength="64" required/>
            </label>
            <p>Description:</p>
            <label>
                <textarea name="description" rows="5" cols="80"></textarea>
            </label>
            <p>Public?</p>
            <label>
                Yes
                <input type="radio" name="public" value="true" checked/>
            </label>
            <br>
            <label>
                No
                <input type="radio" name="public" value="false"/>
            </label>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <br>
            <input type="submit" value="Create Category"/>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}
