<div id="toggle-comment-form-{{ reply.id or 'thread' }}" class="hidden">
  <form class="comment-form" 
        action="{{ url_for('thread_page', thread_id=thread.id) }}" method="POST">
    <textarea name="content" rows="3" cols="80"></textarea>
    <input type="hidden" name="thread_id" value="{{ thread.id }}" />
    {% if reply %}
    <input type="hidden" name="parent_id" value="{{ reply.id }}" />
    {% else %}
    <input type="hidden" name="parent_id" value="" />
    {% endif %}
    <input type="hidden" name="user_id" value="{{ session.user_id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input class="btn btn-small" type="submit" value="Submit"/>
  </form>
</div>
