<div class="toggle-comment-form hidden">
    <form class="comment-form"
          action="{{ url_for('thread_page', thread_id=thread.id) if not editing
                          else url_for('edit_reply', thread_id=thread.id, reply_id=reply.id) }}"
          method="POST">
        <label>
            <textarea name="content" rows="3" cols="80" minlength="1" maxlength="1000" required></textarea>
        </label>
        {% if not editing %}
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            {% if reply %}
                <input type="hidden" name="parent_id" value="{{ reply.id }}"/>
            {% else %}
                <input type="hidden" name="parent_id" value=""/>
            {% endif %}
            <input type="hidden" name="user_id" value="{{ session.user_id }}"/>
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if editing and session.user_role > 0 %}
            <p>Visibility:</p>
            <label>
                Show
                <input type="radio" name="visible" value="true" {{ 'checked' if reply.visible }}/>
            </label>
            <br>
            <label>
                Hide
                <input type="radio" name="visible" value="false" {{ 'checked' if not reply.visible }}/>
            </label>
            <br>
        {% endif %}
        <input class="btn btn-small" type="submit" value="{{ 'Confirm' if editing else 'Submit' }}"/>
    </form>
</div>
