<nav class="navbar-container">
    <div class="navbar">
        <a href="{{ url_for('index') }}"><h1 class="app-title">Link Board</h1></a>
        <div>
            {% if session.username %}
                <div>
                    <div>Logged in as
                        <a href="{{ url_for('profile', username=session.username) }}">{{ session.display_name or session.username }}</a>
                    </div>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}">Log in</a>
            {% endif %}
        </div>
    </div>
    {% if session.user_id %}
        <div class="category-nav-container">
            <span><a class="category-link" href="{{ url_for('index') }}">All</a></span>
            {% for category in category_list %}
                <span>
          <a class="category-link" href="{{ url_for('category_page', category=category.name) }}">{{ category.name }}</a>
        </span>
            {% endfor %}
        </div>
    {% endif %}
</nav>
