{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% from "_macros.html" import render_field %}
{% block content %}
    {% if session.username %}
        <p>You are logged in as {{ session.username }}</p>
        <a href="{{ url_for('logout') }}">Log out</a>
    {% else %}
        <form method="POST" action="" novalidate>
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.display_name) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                {{ form.csrf_token }}
                {{ form.submit(class="btn btn-big") }}
            </dl>
        </form>
    {% endif %}
{% endblock %}