{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<a href="{{ url_for('logout') }}">Log out</a>
{% else %}
<form action="{{ url_for('register') }}" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Display name:<br>
<input type="text" name="displayname"></p>
<p>Password:<br>
<input type="password" name="password1"></p>
<p>Password again:<br>
<input type="password" name="password2"></p>
<input type="submit" value="Register">
</form>
{% endif %}
{% endblock %}