{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% from "_macros.html" import render_field %}
{% block content %}
    <h2>Search</h2>
    <form class="search-form" method="POST" action="" novalidate>
        <dl>
            {{ render_field(form.search_type) }}
            {{ render_field(form.search_string) }}
            {{ form.csrf_token }}
            {{ form.submit(class="btn btn-big") }}
        </dl>
    </form>
    {% if results %}
        {% if type == "user" %}
            <div class="table-grid user-grid">
                <div>Username</div>
                <div>Display Name</div>
                <div>Join Date</div>
                <div>Threads Submitted</div>
                <div>Replies Submitted</div>
                <div>Following</div>
                {% for user in results %}
                    <a class="table-grid-row" href="{{ url_for('profile', username=user.username) }}">
                        <div>{{ user.username }}</div>
                        <div>{{ user.display_name }}</div>
                        <div>{{ user.join_date }}</div>
                        <div>{{ user.threads }}</div>
                        <div>{{ user.replies }}</div>
                        <div>{{ user.following }}</div>
                    </a>
                {% endfor %}
            </div>
        {% elif type == "category" %}
            <div class="table-grid category-grid">
                <div>Name</div>
                <div>Description</div>
                <div>Public</div>
                <div>Creation Date</div>
                <div>Threads</div>
                <div>Favourites</div>
                <div>Favourited</div>
                {% for category in results %}
                    <a class="table-grid-row" href="{{ url_for('category_page', category=category.name) }}">
                        <div>{{ category.name }}</div>
                        <div>{{ category.description }}</div>
                        <div>{{ category.is_public }}</div>
                        <div>{{ category.creation_date }}</div>
                        <div>{{ category.threads }}</div>
                        <div>{{ category.favourites }}</div>
                        <div>{{ category.favourited }}</div>
                    </a>
                {% endfor %}
            </div>
        {% elif type == "thread" %}
            <div class="table-grid thread-grid">
                <div>Thumbnail</div>
                <div>Title</div>
                <div>URL</div>
                <div>Creation Date</div>
                <div>Submitted By</div>
                <div>Category</div>
                <div>Likes</div>
                <div>Comments</div>
                {% if session.user_role > 0 %}
                    <div>Visible</div>
                {% endif %}
                {% for thread in results %}
                    <a class="table-grid-row" href="{{ url_for('thread_page', thread_id=thread.id) }}">
                        {% if thread.thumbnail %}
                            <div>
                                <img src="data:;base64, {{ thread.thumbnail|b64encode }}" alt="Thumbnail of {{ thread.title }}"/>
                            </div>
                        {% else %}
                            <div>N/A</div>
                        {% endif %}
                        <div>{{ thread.title }}</div>
                        <div>{{ thread.link_url }}</div>
                        <div>{{ thread.creation_date }}</div>
                        <div>{{ thread.display_name }} ({{ thread.username }})</div>
                        <div>{{ thread.category }}</div>
                        <div>{{ thread.likes }}</div>
                        <div>{{ thread.comments }}</div>
                        {% if session.user_role > 0 %}
                         <div>{{ thread.visible }}</div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% elif results != None  %}
        <div>No search results.</div>
    {% endif %}

{% endblock %}