{% extends "base.html" %}
{% block content %}
<div class="thread-container">
    <a href="/p/{{ thread['id'] }}">
        <div class="thread-link"></div>
    </a>
    <div>
        <div>{{ thread['title'] }}</div>
        <div>{{ thread['content'] }}</div>
        <span><a href="/c/{{ thread['category'] }}">{{ thread['link_url'] }}</a></span>
        <span>- <a href="/c/{{ thread['category'] }}">{{ thread['category'] }}</a></span>
</div>
</div>
{% for reply in replies %}
<div class="reply-container">{{ reply['content'] }}</div>
{% endfor %}






{% endblock %}