{% extends "base.html" %}
{% block title %}Submit link{% endblock %}
{% from "_macros.html" import render_field %}
{% block content %}
    <div class="category-title-container">
        <a href="{{ url_for('category_page', category=category) }}"><h1>{{ category }}</h1></a>
    </div>
    {% if not editing %}
        <h2>Submit link</h2>
        <form method="POST" action="" novalidate>
            <dl>
                {{ render_field(form.url) }}
                {{ render_field(form.title) }}
                {{ render_field(form.message) }}
                {{ render_field(form.fetch_image) }}
                {{ form.csrf_token }}
                {{ form.submit(class="btn btn-big") }}
            </dl>
        </form>
    {% else %}
        <h2>Edit thread</h2>
        <form method="POST" action="" novalidate>
            <dl>
                {{ render_field(form.url) }}
                {{ render_field(form.title) }}
                {{ render_field(form.message) }}
                {% if thread.thumbnail %}
                    <img src="data:;base64, {{ thread.thumbnail|b64encode }}" alt="Thumbnail of {{ thread.title }}" />
                {% endif %}
                {{ render_field(form.refresh_image) }}
                {% if session.user_role > 0 %}
                    {{ render_field(form.visible) }}
                {% endif %}
                {{ form.csrf_token }}
                {{ form.submit(class="btn btn-big") }}
            </dl>
        </form>
    {% endif %}
{% endblock %}