{% extends "base.html" %}
{% block title %}- Edit Profile{% endblock %}
{% block content %}
    <div class="category-title-container">
        <h1>{{ user.display_name }}</h1>
        {% if user.username != session.username %}
            <button id="user-follow"
                    class="btn btn-small btn-follow {{ 'following' if user.followed else '' }}"
                    data-user="{{ user.user_id }}"
                    data-url='{{ url_for('follow', username=user.username) }}'
                    data-csrf='{{ session.csrf_token|tojson }}'>
                {{ 'Following' if user.followed else 'Follow' }}
            </button>
        {% endif %}
    </div>
    {% from "_macros.html" import render_field %}
    <form method="POST" action="" novalidate>
        <dl>
            {{ render_field(form.display_name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.is_public) }}
            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-big") }}
        </dl>
    </form>
    <button class="btn btn-big" onclick="window.location.href='{{ url_for('profile', username=user.username) }}';">Cancel</button>
{% endblock %}